body {
	background-image: url('http://paperlief.com/images/sweden-flag-wallpaper-2.jpg');
	background-size: contain;
	background-repeat: inherit;
	color: yellow;
	transition: 0.5s;
	font-weight: bold;
	opacity: 0.8;
	
}

img {
	position: absolute;
}

@keyframes rotation {
	from {}
	to {
		transform: rotate(360deg);
	}
}

@keyframes scaling {
	0%   {
		transform: scale(1, 1);
	}
	50%  {
		transform: scale(1.05, 1.05);
	}
	100% {
		transform: scale(1, 1);
	}
}

#backImage {
	animation-name: rotation;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#frontImage {
	animation-name: scaling;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}