body {
	background: black;
}

.emojiButton {
	background-color: #E57437;
	border: none;
	color: #DFDFDF;
	width: 36px;
	height: 36px;
	padding: 2px 2px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #DFDFDF; 
	color: black; 
	border: 2px solid #E57437;
}

.emojiButton:hover {
	background-color: #E57437;
	color: white;
}