#action-label {
	padding: 10px 15px 10px 15px;
	cursor: pointer;
	outline: none;
}

button.opener {
	background-color: #690e4e;      
	color: #fff;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 14px;
	transition: 0.4s;
}

button.openerChild {
	background-color: #0b95a9;
	color: #1c1c1c;
	cursor: pointer;
	padding: 6px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 12px;
	transition: 0.25s;
}

button.openerChild.active, 
button.openerChild:hover {
	background-color: #1edeee;
	color: #eee;
}

button.opener:after {
	content: '+';
	color: #000;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

button.openerChild:after {
	color: #000;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

button.opener.active:after {
	content: "-";
}

div.dropContent {
	background-color: purple;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.ui.dropdown {
	text-align: center;
	width: 200px;
}

input[type=text] {
	width: 90%;
}

.action-main {
	background: purple;
}
.action-input {
	margin: 0 auto;
	padding-top: 6px;
	max-width: 640px;
	width: 94%;
	height: 80%;
}

.action-input h1 {
	margin-top: 0;
}

.action-footer {
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #111111;
        background-image: url(./img/cplogo.gif);
	text-align: center;
}

#leSideBarContent {
	margin-right: 10px;
	width: 226px;
}

#leSideBar {
	width: 232px;
	margin: 10px;
}

#leSideBar::-webkit-scrollbar {
	width: 6px;
	background-color: #0c0c0c;
}

#leSideBar::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #0c0c0c;
}

#leSideBar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #ececec;
}

input::-webkit-calendar-picker-indicator {
	opacity: 100;
	background-color: transparent;
	transform: scale(0.7, 0.7);
}

input::-webkit-calendar-picker-indicator:hover {
	background-color: transparent;
}

input#searchfilter {
	border-radius: 4px;
	padding-left: 4px;
	width: 94%;
	height: 22px;
	border: 1px solid #000;
}