p#settings-description {
	color: #222;
}

.ui.multiple.dropdown > .label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	font-size: 1em;
	padding: 0.35714286em 0.78571429em;
	margin: 0.14285714rem 0.28571429rem 0.14285714rem 0em;
	box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
}

body {
	color: #ffffff;
	background-color: #2C2F33;
	overflow: hidden;
	transition: 0.5s;
}
.ui.button {
	background: rgb(63, 89, 182);
	color:#ffffff;
	font-weight: bold;
}


body.running {
	background-color: rgb(52, 60, 71) !important;
}

a:link {
	color: #99b3ff;
}

div.action-holder {
	width: 240px; 
	float: left; 
	max-width: 240px; 
	padding-top: 22px;
}

div.event-action-holder {
	width: 240px; 
	float: left; 
	max-width: 240px; 
	padding-top: 22px;
}

select#commands {
	overflow: hidden;
	height: 120px;
}

select#actions {
	overflow: hidden;
	position: static;
	font-weight: bold;
}

div.footer {
	position: static;
	float: right;
	width: 100%;
	height: 100%;
	right: 0px;
	bottom: 100px;
	left: 220px;
	/*top: 400px;*/
	text-align: left;
}

div.infooter {
	padding-top: 49px;
}

div.einfooter {
	padding-top: 77px;
}

div.actionButtonDiv {
	width: 90%; 
	padding: 10px 10px 10px 0px;
	text-align: left;
}

button.actionButtons {
	width: 120px;
	padding-right: 20px;
	padding-left: 20px;
	float: right;	
}

div.tabs {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

div.tabs button {
	width: 33%;
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 12px 20px;
	transition: 0.2s;
	font-weight: bold;
}

div.tabs button:hover {
	background-color: #ddd;
}

div.tabs button.active {
	background-color: #ccc;
}

div.myactions {
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #ccc;
	background-color: #53585f;
}

div.myactions button {
	overflow: hidden;
	width: 100%;
	height: 20px;
	text-align: left;
	color: #e3e5e8;
	background-color: #53585f;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.2s;
}

div.myactions button:hover {
	background-color: #7289DA;
}

div.myactions button.active {
	background-color: #7289DA;
}

div.emyactions {
	overflow: auto;
	overflow-x: hidden;
	border: 1px solid #ccc;
	background-color: #53585f;
}

div.emyactions button {
	overflow: hidden;
	width: 100%;
	height: 20px;
	text-align: left;
	color: #ffffff;
	background-color: #53585f;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.2s;
}

div.emyactions button:hover {
	background-color: #777e88;
}

div.emyactions button.active {
	background-color: #7289DA;
}

.page {
	display: none;
}

input {
	color: #e3e5e8;
	background-color: #23272A;
	padding-bottom: 2px;
}

textarea {
	color: #FFFFFF;
	background-color: #2C2F33;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	padding-left: 8px;
	font-size: 15px;
}

textarea:focus {
	outline-width: 0;
}

textarea::selection {
	background: #b8dbff;
}

select {
	color: #ffffff;
	background-color: #4c4e53;
	outline-width: 0;
	box-shadow: -4px 0px 0px rgb(63, 89, 182);
	border: 2px solid rgb(63, 89, 182);
	height: 28px;
	padding-left: 8px;
	transition: box-shadow 150ms ease;
}

button#a_tab {
	background-color: #7289DA;
}

button#a_tab.active, button#a_tab.active:hover {
	background-color: rgb(63, 89, 182);
}

button#a_tab:hover {
	background-color: rgb(63, 89, 182);
}

input::selection {
	background: #b8dbff;
}

input:focus {
	outline-width: 0;
}

input#name, input#alias-input, input#ename, input#etemp, input#etemp2 {
	border: 1px solid #eee;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	height: 28px;
	padding-left: 8px;
}

input.settings {
	font-family: monospace;
	width: 100%;
	border: 1px solid #eee;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	height: 28px;
	padding-left: 8px;
}

input.round {
	width: 100%;
	border: 1px solid #2C2F33;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	height: 28px;
	padding-left: 8px;
}

select.round {
	width: 100%;
	border: 1px solid #eee;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	height: 28px;
	padding-left: 8px;
}

::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: #23272A;
}

::-webkit-scrollbar-track {
	background-color: #23272A;
}

::-webkit-scrollbar-thumb {
	background-color: #7289DA;
}

#aliases, #moduleManager {
	height: 380px;
	border-radius: 10px;
	background-color: #23272A;
	
}

.modalChild {
	height: 240px;
	margin-left: 70px;
	margin-top: 15px;
	overflow-y: scroll;
}